#dashboard {
    width: 100%;
    align-self: flex-end;
    position: relative;
    /* width: 50vw; */
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 1em 4em;
    /* padding: 2em 2em 2em 0em; */
}




#dashboard::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #556;
}

#dashboard::-webkit-scrollbar {
    width: 0.5em;
    background-color: #555;
}


#dashboard::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: #aac;
}

/* .top-dashboard-charts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50vh;
    box-sizing: border-box;
} */

.dashboard_header {
    padding-left: 3vw;
    width: 100%;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    opacity: 0.9;
    display: block;
}

/* .top-dashboard-charts .MuiPaper-root {
    margin: 10px;
    box-sizing: border-box;
} */



.h-index-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.h_index_box_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h_index_box_text h3 {
    margin: 0;
    text-align: left;
}

.h_index_box_text h2 {
    margin: 0;
    text-align: left;
}

#dashboard-charts {
    width: 100%;
    min-height: 60vh;
    display: block;
    margin: 1em 0;
}

#dashboard-charts h2,
p,
h4 {
    margin: 0;
}

.tile {
    margin: 8px;
    float: left;
    padding: 10px;

}

.tile p {
    font-size: 0.85em;
}

#dashboard-charts>.big-tile {
    height: calc(40vh - 17px);
    width: calc(66.666% - 16px);
    /* float: left; */
    /* width: calc(66.666% - 16px); */
    /* min-width: 60%; */
}

#dashboard-charts>.normal-tile {
    /* float: left; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: calc(33.333% - 16px);
    height: calc(20vh - 16px);
    box-sizing: border-box;
    /* padding: 16px 0; */
    /* height: calc(20vh - 16px); */
}

#dashboard-charts>.small-tile {
    /* float: left; */
    width: calc(33.333% - 16px);
    height: calc(12vh - 16px);
}


.vertical-container {
    flex: 0 1 calc(33.3333%);
    display: flex;
    flex-direction: column;
}

.accent-tile {
    height: calc(28vh - 16px) !important;
}

#dashboard-charts a {
    all: unset;
    cursor: pointer;
}

.chart-range-selector {
    display: inline-block;
    border-radius: 5px;
}

.range-item {
    margin: 10px 15px;
    display: inline-block;
}

.publication {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    #dashboard {
        padding: 1em 2em;
    }

    .tile {
        margin: 5px;
    }


    #dashboard-charts>.big-tile {
        width: calc(66.66% - 10px);
        height: calc(40vh - 11px);
    }

    #dashboard-charts>.normal-tile {
        width: calc(33.333% - 10px);
        height: calc(20vh - 10px);
    }

    #dashboard-charts>.small-tile {
        width: calc(33.333% - 10px);
        height: calc(12vh - 10px);
    }

    .accent-tile {
        height: calc(28vh - 10px) !important;
    }

}

@media only screen and (max-width: 768px) {
    #dashboard {
        padding: 0.5em;
        margin-top: 1em;
    }

    .tile {
        margin: 5px;
    }

    #dashboard-charts {
        min-height: 75vh;
        margin: 1em 0;
    }



    #dashboard-charts>.big-tile {
        width: calc(100% - 10px);
        height: 30vh;
    }

    #dashboard-charts>.normal-tile {
        /* float: left; */
        width: calc(50% - 10px);
        height: calc(18vh - 10px);
        padding: 0;
        /* min-height: 140px; */
    }

    #dashboard-charts>.small-tile {
        /* float: left; */
        width: calc(50% - 10px);
        height: calc(12vh - 10px);
    }

    .accent-tile {
        height: calc(30vh - 11px) !important;
    }
}